### Tables

![](table.png)

### Create Tables and Insert values with MySQL

#### DEPARTMENT

In [2]:
CREATE TABLE DEPARTMENT
(
  DepartmentID   INT AUTO_INCREMENT
    PRIMARY KEY,
  Name           VARCHAR(100) NOT NULL,
  OfficeAddress  VARCHAR(100) NULL,
  DepartmentHead VARCHAR(100) NULL,
  OfficePhone    VARCHAR(100) NULL,
  UNIQUE (DepartmentID)
);

![](department_1.png)

In [ ]:
INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES 
  ('Neurology', 'Area A, Floor 1', 'Dr. Gregory House', '(814) 587-2335');

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES 
  ('Cardiology', 'Area B, Floor 2', 'Dr. Lisa Cuddy', '(814) 587-2334');

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES 
  ('Critical care', 'Area C, Floor 3', 'Dr. Eric Foreman', '(814) 587-2339');

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES 
  ('Diagnostic imaging', 'Area D, Floor 4', 'Dr. Allison Cameron', '(814) 587-2336');

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES 
  ('Oncology', 'Area E, Floor 5', 'Dr. James Wilson', '(814) 587-2331');

 1 row inserted. 
 
Inserted row id: 1 (Query took 0.0479 seconds.)

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES ('Neurology', 'Area A, Floor 1', 'Dr. Gregory House', '(814) 587-2335')

 1 row inserted. 
 
Inserted row id: 2 (Query took 0.3064 seconds.)

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES ('Cardiology', 'Area B, Floor 2', 'Dr. Lisa Cuddy', '(814) 587-2334')

 1 row inserted. 
 
Inserted row id: 3 (Query took 0.0391 seconds.)

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES ('Critical care', 'Area C, Floor 3', 'Dr. Eric Foreman', '(814) 587-2339')

 1 row inserted. 
 
Inserted row id: 4 (Query took 0.0460 seconds.)

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES ('Diagnostic imaging', 'Area D, Floor 4', 'Dr. Allison Cameron', '(814) 587-2336')

 1 row inserted. 
 
Inserted row id: 5 (Query took 0.0459 seconds.)

INSERT INTO DEPARTMENT (Name, OfficeAddress, DepartmentHead, OfficePhone) VALUES ('Oncology', 'Area E, Floor 5', 'Dr. James Wilson', '(814) 587-2331')

![](department_2.png)

#### EMPLOYEE

In [ ]:
CREATE TABLE EMPLOYEE
(
  EmployeeID INT AUTO_INCREMENT
    PRIMARY KEY,
  Name       VARCHAR(100) NULL,
  Phone      VARCHAR(20)  NULL,
  Email      VARCHAR(30)  NULL,
  Address    VARCHAR(100) NULL,
  SSN        VARCHAR(20)  NULL,
  Certification   VARCHAR(100) NULL,
  CONSTRAINT EMPLOYEE_EmployeeID_uindex
  UNIQUE (EmployeeID)
);

![](employee_1.png)

In [ ]:
INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES 
  ('Sydney Heron', '(814) 563-7401', 'sh@gmail.com', '711-2880 Nulla St. Manka
   to PA', '670-20-1234', 'Certified Pediatric Nurse (CPN)');

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES 
  ('Reed Adamson', '(814) 563-7402', 'ra@gmail.com', '606-3727 Ullamcorper. 
   Street Roseville PA', '670-20-4321', 'AIDS Certified Registered Nurse (ACRN)');

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES 
  ('Megan Mostow', '(814) 563-7403', 'mm@gmail.com', 'Ap #867-859 Sit Rd. Azusa 
   New York', '670-20-6789', 'Family Nurse Practitioner');

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES 
  ('Sadie Harris', '(814) 563-7404', 'sah@gmail.com', '7292 Dictum Av. San Antonio 
   MI', '770-20-4356', 'Certified Registered Nurse Anesthetist (CRNA)');

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES 
  ('Heather Brooks', '(814) 563-7404', 'hb@gmail.com', 'Ap #651-8679 Sodales Av. 
   Tamuning PA', '770-20-4509', 'Advanced Oncology Certified Nurse (AOCN)');

 1 row inserted. 
 
Inserted row id: 1 (Query took 0.0845 seconds.)

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES ('Sydney Heron', '(814) 563-7401', 'sh@gmail.com', '711-2880 Nulla St. Mankato PA', '670-20-1234', 'Certified Pediatric Nurse (CPN)')

 1 row inserted. 
 
Inserted row id: 2 (Query took 0.0371 seconds.)

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES ('Reed Adamson', '(814) 563-7402', 'ra@gmail.com', '606-3727 Ullamcorper. Street Roseville PA', '670-20-4321', 'AIDS Certified Registered Nurse (ACRN)')

 1 row inserted. 
 
Inserted row id: 3 (Query took 0.0376 seconds.)

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES ('Megan Mostow', '(814) 563-7403', 'mm@gmail.com', 'Ap #867-859 Sit Rd. Azusa New York', '670-20-6789', 'Family Nurse Practitioner')

 1 row inserted. 
 
Inserted row id: 4 (Query took 0.0379 seconds.)

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES ('Sadie Harris', '(814) 563-7404', 'sah@gmail.com', '7292 Dictum Av. San Antonio MI', '770-20-4356', 'Certified Registered Nurse Anesthetist (CRNA)')

 1 row inserted. 
 
Inserted row id: 5 (Query took 0.0395 seconds.)

INSERT INTO EMPLOYEE (Name, Phone, Email, Address, SSN, Certification) VALUES ('Heather Brooks', '(814) 563-7404', 'hb@gmail.com', 'Ap #651-8679 Sodales Av. Tamuning PA', '770-20-4509', 'Advanced Oncology Certified Nurse (AOCN)')

![](employee_2.png)

#### AFFILIATION

In [ ]:
CREATE TABLE AFFILIATION
(
  EmployeeID   INT NOT NULL,
  DepartmentID INT NOT NULL,
  CONSTRAINT AFFILIATION_EmployeeID_uindex
  UNIQUE (EmployeeID),
  CONSTRAINT AFFILIATION_DepartmentID_uindex
  UNIQUE (DepartmentID),
  CONSTRAINT AFFILIATION_EMPLOYEE_EmployeeID_fk
  FOREIGN KEY (EmployeeID) REFERENCES EMPLOYEE (EmployeeID)
    ON UPDATE CASCADE
    ON DELETE CASCADE,
  CONSTRAINT AFFILIATION_DEPARTMENT_DepartmentID_fk
  FOREIGN KEY (DepartmentID) REFERENCES DEPARTMENT (DepartmentID)
    ON UPDATE CASCADE
    ON DELETE CASCADE
);

![](affiliation_1.png)

In [ ]:
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (1, 3);
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (2, 4);
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (3, 2);
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (4, 1);
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (5, 5);

 1 row inserted. (Query took 0.1137 seconds.)
 
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (1, 3)

 1 row inserted. (Query took 0.0420 seconds.)
 
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (2, 4)

 1 row inserted. (Query took 0.1310 seconds.)
 
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (3, 2)

 1 row inserted. (Query took 0.0391 seconds.)
 
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (4, 1)

 1 row inserted. (Query took 0.0403 seconds.)
 
INSERT INTO AFFILIATION (EmployeeID, DepartmentID) VALUES (5, 5)

![](affiliation_2.png)

#### ROOM

In [ ]:
CREATE TABLE ROOM
(
  RoomNumber INT AUTO_INCREMENT
    PRIMARY KEY,
  Floor      INT         NULL,
  RoomType   VARCHAR(30) NULL,
  Available  TINYINT(1)  NULL,
  RoomPhone  VARCHAR(20) NULL,
  CONSTRAINT ROOM_RoomNumber_uindex
  UNIQUE (RoomNumber)
);

![](ROOM_1.png)

In [ ]:
INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES 
            (4, 'Surgery', 1, '(814) 873-7090');
INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES 
            (2, 'Consulting', 1, '(814) 873-7091');
INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES 
            (1, 'Dispensary', 1, '(814) 873-7092');
INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES 
            (1, 'ER', 1, '(814) 873-7093');
INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES 
            (5, 'ICU', 1, '(814) 873-7094');

 1 row inserted. 
 
Inserted row id: 1 (Query took 0.0929 seconds.)

INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES (4, 'Surgery', 1, '(814) 873-7090')

 1 row inserted. 
 
Inserted row id: 2 (Query took 0.0539 seconds.)

INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES (2, 'Consulting', 1, '(814) 873-7091')

 1 row inserted. 
 
Inserted row id: 3 (Query took 0.0470 seconds.)

INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES (1, 'Dispensary', 1, '(814) 873-7092')

 1 row inserted. 
 
Inserted row id: 4 (Query took 0.0896 seconds.)

INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES (1, 'ER', 1, '(814) 873-7093')

 1 row inserted. 
Inserted row id: 5 (Query took 0.0863 seconds.)
INSERT INTO ROOM (Floor, RoomType, Available, RoomPhone) VALUES (5, 'ICU', 1, '(814) 873-7094')

![](ROOM_2.png)

#### SHIFT

In [ ]:
CREATE TABLE SHIFT
(
  ShiftID    INT AUTO_INCREMENT
    PRIMARY KEY,
  Date       DATE NULL,
  StartTime  TIME NULL,
  EndTime    TIME NULL,
  EmployeeID INT  NOT NULL,
  RoomNumber INT  NOT NULL,
  CONSTRAINT SHIFT_ShiftID_uindex
  UNIQUE (ShiftID),
  CONSTRAINT SHIFT_EMPLOYEE_EmployeeID_fk
  FOREIGN KEY (EmployeeID) REFERENCES EMPLOYEE (EmployeeID)
    ON UPDATE CASCADE
    ON DELETE CASCADE,
  CONSTRAINT SHIFT_ROOM_RoomNumber_fk
  FOREIGN KEY (RoomNumber) REFERENCES ROOM (RoomNumber)
    ON UPDATE CASCADE
    ON DELETE CASCADE
);
CREATE INDEX SHIFT_EMPLOYEE_EmployeeID_fk
  ON SHIFT (EmployeeID);
CREATE INDEX SHIFT_ROOM_RoomNumber_fk
  ON SHIFT (RoomNumber);

![](shift_1.png)

In [ ]:
INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES 
  ('2018-09-10', '09:00:00', '18:00:00', 1, 3);

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES 
  ('2018-09-10', '09:00:00', '15:00:00', 2, 1);

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES 
  ('2018-09-10', '16:00:00', '19:00:00', 2, 5);

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES 
  ('2018-09-11', '10:00:00', '17:00:00', 3, 4);

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES 
  ('2018-09-12', '09:45:00', '18:30:00', 5, 2);

 1 row inserted. 
 
Inserted row id: 1 (Query took 0.0384 seconds.)

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES ('2018-09-10', '09:00:00', '18:00:00', 1, 3)

 1 row inserted. 
 
Inserted row id: 2 (Query took 0.0439 seconds.)

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES ('2018-09-10', '09:00:00', '15:00:00', 2, 1)

 1 row inserted. 
 
Inserted row id: 3 (Query took 0.2483 seconds.)

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES ('2018-09-10', '16:00:00', '19:00:00', 2, 5)

 1 row inserted. 
 
Inserted row id: 4 (Query took 0.0460 seconds.)

INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES ('2018-09-11', '10:00:00', '17:00:00', 3, 4)

 1 row inserted. 
Inserted row id: 5 (Query took 0.0385 seconds.)
INSERT INTO SHIFT (Date, StartTime, EndTime, EmployeeID, RoomNumber) VALUES ('2018-09-12', '09:45:00', '18:30:00', 5, 2)

![](shift_2.png)

#### PATIENT

In [ ]:
CREATE TABLE PATIENT
(
  PatientID       INT AUTO_INCREMENT
    PRIMARY KEY,
  Name            VARCHAR(100) NULL,
  Phone           VARCHAR(20)  NULL,
  Email           VARCHAR(30)  NULL,
  Address         VARCHAR(100) NULL,
  SSN             VARCHAR(20)  NULL,
  InsuranceNumber VARCHAR(20)  NULL,
  CONSTRAINT PATIENT_PatientID_uindex
  UNIQUE (PatientID)
);

![](patient_1.png)

In [ ]:
INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES 
  ('Lawrence Moreno', '(684) 579-1879', 'lm@gmail.com', '935-9940 Tortor. Street 
   Santa Rosa MN', '033-62-1234', 'ZW 27 84 44 D');
INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES 
  ('Aaron Hawkins', '(660) 663-4518', 'im@gmail.com', '5587 Nunc. Avenue Erie 
   Rhode Island', '574-28-4856', 'OA 45 22 60 C');
INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES 
  ('Melvin Porter', '(959) 119-8364', 'mp@gmail.com', 'P.O. Box 132 1599 Curabitur 
   Rd. Bandera South Dakota', '394-13-4509', 'NC 18 31 22 C');
INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES 
  ('Joan Romero', '(248) 675-4007', 'jr@gmail.com', '666-4366 Lacinia Avenue Idaho 
   Falls Ohio', '650-42-0943', 'XM 95 88 11 C');
INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES 
  ('Davis Patrick', '(939) 353-1107', 'dp@gmail.com', 'P.O. Box 147 2546 Sociosqu Rd. 
   Bethlehem Utah', '158-74-8367', 'CX 50 09 44 B');

 1 row inserted. 
 
Inserted row id: 1 (Query took 0.0370 seconds.)

INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES ('Lawrence Moreno', '(684) 579-1879', 'lm@gmail.com', '935-9940 Tortor. Street Santa Rosa MN', '033-62-1234', 'ZW 27 84 44 D')

 1 row inserted. 
 
Inserted row id: 2 (Query took 0.0366 seconds.)

INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES ('Aaron Hawkins', '(660) 663-4518', 'im@gmail.com', '5587 Nunc. Avenue Erie Rhode Island', '574-28-4856', 'OA 45 22 60 C')

 1 row inserted. 
 
Inserted row id: 3 (Query took 0.0717 seconds.)

INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES ('Melvin Porter', '(959) 119-8364', 'mp@gmail.com', 'P.O. Box 132 1599 Curabitur Rd. Bandera South Dakota', '394-13-4509', 'NC 18 31 22 C')

 1 row inserted. 
 
Inserted row id: 4 (Query took 0.0370 seconds.)

INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES ('Joan Romero', '(248) 675-4007', 'jr@gmail.com', '666-4366 Lacinia Avenue Idaho Falls Ohio', '650-42-0943', 'XM 95 88 11 C')

 1 row inserted. 
 
Inserted row id: 5 (Query took 0.0511 seconds.)

INSERT INTO PATIENT (Name, Phone, Email, Address, SSN, InsuranceNumber) VALUES ('Davis Patrick', '(939) 353-1107', 'dp@gmail.com', 'P.O. Box 147 2546 Sociosqu Rd. Bethlehem Utah', '158-74-8367', 'CX 50 09 44 B')

![](patient_2.png)

#### APPOINTMENT

In [ ]:
CREATE TABLE APPOINTMENT
(
  AppointmentID INT AUTO_INCREMENT
    PRIMARY KEY,
  Date          DATE NULL,
  StartTime     TIME NULL,
  EndTime       TIME NULL,
  Description   TEXT NULL,
  EmployeeID    INT  NOT NULL,
  PatientID     INT  NOT NULL,
  RoomNumber    INT  NOT NULL,
  CONSTRAINT APPOINTMENT_AppointmentID_uindex
  UNIQUE (AppointmentID),
  CONSTRAINT APPOINTMENT_EMPLOYEE_EmployeeID_fk
  FOREIGN KEY (EmployeeID) REFERENCES EMPLOYEE (EmployeeID)
    ON UPDATE CASCADE
    ON DELETE CASCADE,
  CONSTRAINT APPOINTMENT_PATIENT_PatientID_fk
  FOREIGN KEY (PatientID) REFERENCES PATIENT (PatientID)
    ON UPDATE CASCADE
    ON DELETE CASCADE,
  CONSTRAINT APPOINTMENT_ROOM_RoomNumber_fk
  FOREIGN KEY (RoomNumber) REFERENCES ROOM (RoomNumber)
    ON UPDATE CASCADE
    ON DELETE CASCADE
);
CREATE INDEX APPOINTMENT_EMPLOYEE_EmployeeID_fk
  ON APPOINTMENT (EmployeeID);
CREATE INDEX APPOINTMENT_PATIENT_PatientID_fk
  ON APPOINTMENT (PatientID);
CREATE INDEX APPOINTMENT_ROOM_RoomNumber_fk
  ON APPOINTMENT (RoomNumber);

![](appointment_1.png)

In [ ]:


INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, 
                         PatientID, RoomNumber) VALUES 
  ('2018-9-10', '14:00:00', '15:00:00', 'Constitutional - NAD, has been 
   generally feeling well the last couple of weeks;
   Eyes - no changes in vision, double vision, blurry vision, wears glasses;
   ENT - No congestion, changes in hearing, does not wear hearing aids;
   Skin/Breast - no rashes;
   Cardiovascular - No SOB, chest pain, heart palpitations', 3, 4, 2);

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, 
                         PatientID, RoomNumber) VALUES 
  ('2018-9-10', '10:00:00', '12:00:00', 'Cardiovascular: dyspnea on exertion; 
   denies chest pains, palpitations, syncope, orthopnea, PND, edema;
   Respiratory: denies cough and wheezing;
   Gastrointestinal: denies jaundice;
   Genitourinary: denies incontinence, dysuria, hematuria, urinary frequency',
   1, 3, 2);

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, 
                         PatientID, RoomNumber) VALUES 
  ('2018-9-11', '16:00:00', '17:30:00', 'Constitutional: Intermittent 
   chills with decreased appetite. No fevers, night sweats or weight loss;
   Eyes: No vision changes;
   ENT: No URI symptoms, mouth ulcers or dysphagia;
   Skin: Jaundice and scaly silver nonpruritic rash on right flexor 
   surface of elbow', 2, 5, 3);

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, 
                         PatientID, RoomNumber) VALUES 
  ('2018-9-11', '09:30:00', '14:15:00', 'Constitutional: denies anorexia 
   and weight loss;
    HEENT: denies decreased hearing blurring, diplopia, irritation, 
   discharge, vision loss, eye pain,
    photophobia, ear pain or discharge, tinnitus, nasal obstruction 
   or discharge, nosebleeds, sore
    throat, hoarseness, dysphagia', 4, 2, 1);

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, 
                         PatientID, RoomNumber) VALUES 
  ('2018-9-12', '14:45:00', '15:30:00', 'Cardiovascular – denies chest 
   pain; denies palpitations;
    Pulmonary – denies shortness of breath, denies cough;
    Gastrointestinal – As indicated in the HPI, complains of sharp, 
   epigastric abdominal pain; 
    endorses constipation, denies diarrhea; endorses bloody stools;
    Genitourinary – denies dysuria; denies increased frequency or 
   urgency of urination;
    Neurologic – denies numbness and tingling; denies paresthesias;
    Muskuloskeletal – endorses abdominal pain occasionally after 
   throwing the football; 
   denies any muscle or joint pain', 5, 1, 2);

 1 row inserted. 
 
Inserted row id: 1 (Query took 0.0384 seconds.)

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, PatientID, RoomNumber) VALUES ('2018-9-10', '14:00:00', '15:00:00', 'Constitutional - NAD, has been generally feeling well the last couple of weeks; Eyes - no changes in vision, double vision, blurry vision, wears glasses; ENT - No congestion, changes in hearing, does not wear hearing aids; Skin/Breast - no rashes; Cardiovascular - No SOB, chest pain, heart palpitations', 3, 4, 2)

 1 row inserted. 
 
Inserted row id: 2 (Query took 0.0339 seconds.)

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, PatientID, RoomNumber) VALUES ('2018-9-10', '10:00:00', '12:00:00', 'Cardiovascular: dyspnea on exertion; denies chest pains, palpitations, syncope, orthopnea, PND, edema; Respiratory: denies cough and wheezing; Gastrointestinal: denies jaundice; Genitourinary: denies incontinence, dysuria, hematuria, urinary frequency', 1, 3, 2)

 1 row inserted. 
 
Inserted row id: 3 (Query took 0.1315 seconds.)

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, PatientID, RoomNumber) VALUES ('2018-9-11', '16:00:00', '17:30:00', 'Constitutional: Intermittent chills with decreased appetite. No fevers, night sweats or weight loss; Eyes: No vision changes; ENT: No URI symptoms, mouth ulcers or dysphagia; Skin: Jaundice and scaly silver nonpruritic rash on right flexor surface of elbow', 2, 5, 3)

 1 row inserted. 
 
Inserted row id: 4 (Query took 0.0371 seconds.)

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, PatientID, RoomNumber) VALUES ('2018-9-11', '09:30:00', '14:15:00', 'Constitutional: denies anorexia and weight loss; HEENT: denies decreased hearing blurring, diplopia, irritation, discharge, vision loss, eye pain, photophobia, ear pain or discharge, tinnitus, nasal obstruction or discharge, nosebleeds, sore throat, hoarseness, dysphagia', 4, 2, 1)

 1 row inserted. 
 
Inserted row id: 5 (Query took 0.0458 seconds.)

INSERT INTO APPOINTMENT (Date, StartTime, EndTime, Description, EmployeeID, PatientID, RoomNumber) VALUES ('2018-9-12', '14:45:00', '15:30:00', 'Cardiovascular – denies chest pain; denies palpitations; Pulmonary – denies shortness of breath, denies cough; Gastrointestinal – As indicated in the HPI, complains of sharp, epigastric abdominal pain; endorses constipation, denies diarrhea; endorses bloody stools; Genitourinary – denies dysuria; denies increased frequency or urgency of urination; Neurologic – denies numbness and tingling; denies paresthesias; Muskuloskeletal – endorses abdominal pain occasionally after throwing the football; denies any muscle or joint pain', 5, 1, 2)

![](appointment_2.png)