### Indexers: loc, iloc, and ix

These slicing and indexing conventions can be a source of confusion.
For example, if your ``Series`` has an explicit integer index, an indexing operation such as ``data[1]`` will use the explicit indices, while a slicing operation like ``data[1:3]`` will use the implicit Python-style index.

In [20]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [21]:
# explicit index when indexing
data[1]

'a'

In [22]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

Because of this potential confusion in the case of integer indexes, Pandas provides some special *indexer* attributes that explicitly expose certain indexing schemes.
These are not functional methods, but attributes that expose a particular slicing interface to the data in the ``Series``.

First, the ``loc`` attribute allows indexing and slicing that always references the __explicit index__:

In [23]:
data.loc[1]

'a'

In [24]:
data.loc[1:3]

1    a
3    b
dtype: object

The ``iloc`` attribute allows indexing and slicing that always references the __implicit Python-style index__:

In [25]:
data.iloc[1]

'b'

In [26]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [27]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193

In [28]:
data.area is data['area']

True

In [29]:
data.pop is data['pop']

False

In [30]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [31]:
data.values

array([[  4.23967000e+05,   3.83325210e+07,   9.04139261e+01],
       [  1.70312000e+05,   1.95528600e+07,   1.14806121e+02],
       [  1.49995000e+05,   1.28821350e+07,   8.58837628e+01],
       [  1.41297000e+05,   1.96511270e+07,   1.39076746e+02],
       [  6.95662000e+05,   2.64481930e+07,   3.80187404e+01]])

In [32]:
data.T

,California,Florida,Illinois,New York,Texas
area,423967.000000,170312.000000,149995.000000,141297.000000,695662.00000
pop,38332521.000000,19552860.000000,12882135.000000,19651127.000000,26448193.00000
density,90.413926,114.806121,85.883763,139.076746,38.01874

In [33]:
data.values[0]

array([  4.23967000e+05,   3.83325210e+07,   9.04139261e+01])

In [34]:
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [35]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

Similarly, using the ``loc`` indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [39]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [30]:
data.ix[:3, :'pop']

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [31]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
Florida   19552860  114.806121
New York  19651127  139.076746

In [32]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [33]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [40]:
data.iloc[1:3]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [35]:
data[data.density > 100]

            area       pop     density
Florida   170312  19552860  114.806121
New York  141297  19651127  139.076746