In [3]:
import pandas as pd
import numpy as np

In [14]:
rng = np.random.RandomState(42)

In [16]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0   NaN
1     5
2     9
3   NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [22]:
A.add(B, fill_value=1)

0    3
1    5
2    9
3    6
dtype: float64

In [23]:
A.add(B, fill_value=2)

0    4
1    5
2    9
3    7
dtype: float64

In [24]:
A.add(B, fill_value=3)

0    5
1    5
2    9
3    8
dtype: float64

### Index alignment in DataFrame

A similar type of alignment takes place for *both* columns and indices when performing operations on ``DataFrame``s:

In [25]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

    A   B
0   6  19
1  14  10

In [26]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  7  4  6
1  9  2  6
2  7  4  3

In [27]:
A + B

    A   B   C
0  10  26 NaN
1  16  19 NaN
2 NaN NaN NaN

In [28]:
fill = A.stack().mean()
A.add(B, fill_value=fill) # fill value start from 'fill', here we have 5 NAN, fill=11, so fill with 12, 13, 14, 15, 16

       A      B      C
0  10.00  26.00  18.25
1  16.00  19.00  18.25
2  16.25  19.25  15.25

In [32]:
A = rng.randint(10, size=(3, 4))
A

array([[5, 8, 0, 9],
       [2, 6, 3, 8],
       [2, 4, 2, 6]])

In [33]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-3, -2,  3, -1],
       [-3, -4,  2, -3]])

In [39]:
df = pd.DataFrame(A, columns=list('QRST'))
df

   Q  R  S  T
0  5  8  0  9
1  2  6  3  8
2  2  4  2  6

In [41]:
df=df - df.iloc[0]
df

   Q  R  S  T
0  0  0  0  0
1 -3 -2  3 -1
2 -3 -4  2 -3

In [42]:
df.subtract(df['R'], axis=0)

   Q  R  S  T
0  0  0  0  0
1 -1  0  5  1
2  1  0  6  1

In [43]:
halfrow = df.iloc[0, ::2]
halfrow

Q    0
S    0
Name: 0, dtype: int64

In [44]:
df - halfrow

   Q   R  S   T
0  0 NaN  0 NaN
1 -3 NaN  3 NaN
2 -3 NaN  2 NaN