In [1]:
from datascience import *

In [8]:
tweets = Table.read_table('my_tweets_2017-09-06_14-44-03.csv', sep='\t')

In [9]:
tweets

user_id            | user_name           | time                           | location                     | text
904354157657776133 | Alexandra Ramirez   | Wed Sep 06 18:44:03 +0000 2017 | nan                          | nude nba naked free pics https://t.co/KFj1IIvbcI
4756631938         | CheapHealthyDinners | Wed Sep 06 18:44:02 +0000 2017 | Cheektowaga, NY              | Green Bean Curry https://t.co/410WnfT9ee https://t.co/pp ...
3070594091         | ÿßŸÑŸÉÿ≥Ÿäÿ≥              | Wed Sep 06 18:44:04 +0000 2017 | Gotham City                  | üôåüèæüôåüèæ https://t.co/PZ02sARmxF
2484655192         | Barli               | Wed Sep 06 18:44:04 +0000 2017 | 614                          | Talk that shit IT https://t.co/SssvqdiYds
3650217854         | Respect My Blog     | Wed Sep 06 18:44:05 +0000 2017 | nan                          | Isaiah Thomas: ‚ÄòMe on the Cavs Is a Match Made in Heaven ...
4842614600         | Roscoe Roy          | Wed Sep 06 18:44:06 +0000 2017 | nan                          | RT @NBATV: .@Bucks continue growth plan centered on Gian ...
55546877           | Dmitry Planidin     | Wed Sep 06 18:44:07 +0000 2017 | Volgograd, Russia            | NBA watch at #EuroBasket2017: Pachulia vs ITA, 69-71 L ( ...
2170328889         | ‚åö                   | Wed Sep 06 18:44:07 +0000 2017 | Uganda                       | RT @_mwes: That's no way to curry yourself considering t ...
747912187910324224 | THE GHOST           | Wed Sep 06 18:44:07 +0000 2017 | Mia,Atl,Overtown,Carol City  | RT @NBA: #ADayWithThePacers

@GRIII shows off the @Pace ...
33410854           | Jermaine Spradley   | Wed Sep 06 18:44:08 +0000 2017 | Wakanda                      | Well reported piece right here. https://t.co/str5veoPUM
... (25 rows omitted)

In [4]:
import pandas as pd

In [6]:
tweets = pd.DataFrame.from_csv('my_tweets_2017-09-06_14-44-03.csv', sep='\t')

In [7]:
tweets.head()

,user_name,time,location,text
user_id,,,,
904354157657776133,Alexandra Ramirez,Wed Sep 06 18:44:03 +0000 2017,NaN,nude nba naked free pics https://t.co/KFj1IIvbcI
4756631938,CheapHealthyDinners,Wed Sep 06 18:44:02 +0000 2017,"Cheektowaga, NY",Green Bean Curry https://t.co/410WnfT9ee https...
3070594091,ÿßŸÑŸÉÿ≥Ÿäÿ≥,Wed Sep 06 18:44:04 +0000 2017,Gotham City,üôåüèæüôåüèæ https://t.co/PZ02sARmxF
2484655192,Barli,Wed Sep 06 18:44:04 +0000 2017,614,Talk that shit IT https://t.co/SssvqdiYds
3650217854,Respect My Blog,Wed Sep 06 18:44:05 +0000 2017,NaN,Isaiah Thomas: ‚ÄòMe on the Cavs Is a Match Made...