In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
                   index=pd.date_range('1/1/2000', periods=10))

In [6]:
df

                   A         B         C
2000-01-01  1.796121  1.258634 -1.660804
2000-01-02 -0.168307  1.822206  0.945334
2000-01-03  0.291375 -0.664116 -0.582441
2000-01-04  0.743939 -0.505289 -0.246562
2000-01-05 -0.701655 -0.526605  0.318432
2000-01-06  0.578394  0.087589  0.656827
2000-01-07 -0.293272 -0.248928  1.372421
2000-01-08 -1.222376 -1.540627 -0.748335
2000-01-09 -0.235389  0.172504 -0.058814
2000-01-10 -0.248031 -0.326368 -0.662989